.platosContainer{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(6,1fr);
    grid-template-rows: repeat(auto-fill,340px);
    margin-left: 15px;

}

.platos{
 margin-top: 10px;
}