.login {
   /* position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 30%;
    height: 30%;
    padding: 2%;
    min-width: 400px;
    min-height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.5);*/
}

.errorMsg{
    margin-bottom: 10px;
}
.header{
    display: flex;
}

.logo{
    display: flex;
    flex-direction: row;
    justify-content: left;
    color: white;
    font-size: 35px;
    margin-right: auto;
    
}

.headerParent{
    padding-top: 15px;
    display: flex;
    flex-direction: row;
    justify-content: right;
}
.title {

}

p{
    font-size: large;
}
h2{
    font-size: 30px;
}
h3 {
    color: white;
}
ul{
    font-size: large;
}
.iconLogin {
    color: white;
    font-size: 2em;
    margin-bottom: 10px
}
.inputUser{
    width: 150px;
    height: 25px;
}
.inputPassword {
    width: 150px;
    margin-left: 10px;
    height: 25px;
   
}

.btnLogin {
    margin-left: 10px;
    background-color: #1FFF00;
    color: white;
    border: none;
    
}

.contentLogin{
    height: 100%;
    text-align: justify;
}

.btnRegister{
    margin-left: 10px;
    background-color: #026939;
    color: white;
    border: none;
}

.footer{
    font-size: small;
    text-align: center;
    font-style: oblique;
}